<%= form_with(model: @friend, local: true) do |form| %>
  <!-- <% if form.object.errors.any? %>
    <div class="alert alert-danger">
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </div>
  <% end %> -->
  <!-- <%= form.object.inspect %> -->
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">The following errors occurred:</h4>
      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field mb-3">
    <%= form.text_field :first_name, class: "form-control" ,placeholder: 'First name' %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :last_name, class: "form-control" ,placeholder: 'Last name'%>
  </div>

  <div class="field mb-3">
    <%= form.text_field :email, class: "form-control" ,placeholder: 'example@gmail.com'%>
  </div>

  <div class="field mb-3">
    <%= form.text_field :contact_number, class: "form-control" ,placeholder: 'Contact number'%>
  </div>

  <div class="actions ">
    <%= form.submit "Add friend",class: "btn btn-primary" %>
  </div>
<% end %>
